name: Autotag and Release
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tag-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Lint
        run: shellcheck bin/*.sh
      - name: Tag & Release
        uses: pantheon-systems/action-autotag@v1
        with:
          push-major-version-branch: true