name: Lint
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jazzsequence/github-action-validator@v1
      - name: Lint
        run: shellcheck bin/*.sh